*{
 margin: 0;
 padding: 0;
}


.container{
    width: 100%;
    height: 50%;
    border: 6px solid black;
}

/* .box{
    width: 95%;
    height: auto;
    border: 4px solid black;
    margin-left: 35px;
    
  
   
} */


#box1-img{
    width: 165px;
    height: 180px;
    margin-top: 5px;
    margin-left: 3px;
}


.box{
    width: 95%;
    height:45% ;
    border: 6px solid black;
    margin-left: 35px;
}